* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@font-face {
    font-family: 'Ms-Sans-Serif';
    src: url('/ms_sans_serif.woff') format('truetype');
}

@font-face {
    font-family: 'Ms-Sans-Serif-Bold';
    src: url('/ms_sans_serif_bold.woff') format('truetype');
}

.main__container {
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-sizing: border-box;
}

.interface {
    background-color: #0000005e;
    backdrop-filter: contrast(0.5);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 100vh;
    padding-top: 1rem;
}



.window__title {
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-style: italic;
}

.interface__window {
    width: 50%;
    background-color: grey;
    padding: 0.3rem;
    display: flex;
    flex-direction: column;
    border-top: 3px inset white;
    border-left: 3px inset white;
    border-right: 3px inset black;
    border-bottom: 3px inset black;
    gap: 5px;
    position: relative;
}

.interface__window::before {
    width: 100%;
    content: "";
    height: 100%;
    position: absolute;
    padding: 3px;
    top: -4px;
    left: -4px;
    z-index: -1;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.window__header {
    width: 100%;
    background: linear-gradient(to right, #e5e4e4, #232323);
    padding: 3px 5px;
    display: flex;
    gap: 5px;
    align-items: center;
    position: relative;
    cursor:move;
}

.window__header--error {
    width: 100%;
    background: linear-gradient(to right, #e76d6d, #730c0c);
    padding: 3px 5px;
    display: flex;
    gap: 5px;
    align-items: center;
}

.window__icon {
    width: 25px;
    height: 25px;
    background-color: #000000;
    padding: 2px;
}

.aboutTitle__icon {
    width: 25px;
    height: 25px;
}

.window__image {
    width: 100%;
    border-top: 2px inset rgb(122, 122, 122);
    border-left: 2px inset rgb(114, 114, 114);
    border-right: 2px inset rgb(233, 233, 233);
    border-bottom: 2px inset rgb(232, 232, 232);
    filter: contrast(0.9);
    aspect-ratio: 16/6;
    object-fit: fill;
}

.window__form {
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items:normal;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

.form__input {
    font-size: 1.5rem;
    min-height: 100%;
    padding: 1rem 1rem 0rem 1rem;
    background-color: gray;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 500;
    width: 100%;
    border:none;
    resize: none;
    outline:none;
    border-top: 2px inset white;
    border-left: 2px inset white;
    border-right: 2px inset black;
    border-bottom: 2px inset black;
    position: relative;
}

.form__input::placeholder {
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 1.2rem;
}

/* Estiliza el contenedor de la scrollbar */
.form__input::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}

/* Estiliza la pista (track) de la scrollbar */
.form__input::-webkit-scrollbar-track {
    background: #808080; /* Color de fondo de la pista */
    border: 1px solid #000; /* Bordes internos */
}

/* Estiliza el pulgar (thumb) de la scrollbar */
.form__input::-webkit-scrollbar-thumb {
    background:#c0c0c0 ; /* Color del pulgar */
    border: 1px solid #000; /* Efecto de relieve */
}

/* Estiliza los botones de arriba y abajo de la scrollbar */
.form__input::-webkit-scrollbar-button:single-button {
    background: #c0c0c0;
    border: 1px solid #000; /* Bordes internos */
    height: 16px;
    width: 16px;
}

/* Botón arriba */
.form__input::-webkit-scrollbar-button:single-button:vertical:decrement {
    background: url('/flecha-hacia-arriba.png') #c0c0c0; /* Reemplaza '...' con el ícono en base64 para el botón de abajo */
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode:darken;
    border-bottom: 0;
}

/* Botón abajo */
.form__input::-webkit-scrollbar-button:single-button:vertical:increment {
    background: url('/flecha-hacia-abajo.png') #c0c0c0; /* Reemplaza '...' con el ícono en base64 para el botón de abajo */
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode:darken;
    border-top: 0;
}

.form__input__container {
    width: 30%;
    content: "";
    display: flex;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.form__input:focus {
    border-top: 2px inset rgb(163, 163, 163);
    border-left: 2px inset rgb(145, 145, 145);
    border-right: 2px inset rgb(168, 166, 166);
    border-bottom: 2px inset rgb(156, 155, 155);
    background-color: #6a6a6a;
}

.form__input__container:has(.form__input:focus) {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

.form__button {
    width: max-content;
    align-self: center;
    margin: 0 auto;
    padding: 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 2rem;
    background-color: #828282;
    border-top: 2px inset white;
    border-left: 2px inset white;
    border-right: 2px inset black;
    border-bottom: 2px inset black;
    margin-bottom: 1rem;
    cursor: pointer;
    user-select: none;
    max-width: 100%;
    position: relative;
}

.form__button::before {
    width: 100%;
    content: "";
    height: 100%;
    position: absolute;
    padding: 2px;
    top: -3px;
    left: -3px;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.form__button:active {
    border-top: 2px inset rgb(163, 163, 163);
    border-left: 2px inset rgb(145, 145, 145);
    border-right: 2px inset rgb(168, 166, 166);
    border-bottom: 2px inset rgb(156, 155, 155);
}

.form__button:active::before {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

.window__response {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.window__response--image {
    width: 100%;
    border-top: 2px inset rgb(126, 126, 126);
    border-left: 2px inset rgb(126, 126, 126);
    border-right: 2px inset rgb(198, 198, 198);
    border-bottom: 2px inset rgb(198, 198, 198);
}

.window__response--loading {
    width: 100%;
    height: 200px;
    background-color: #6a6a6a;
    border-top: 2px inset rgb(126, 126, 126);
    border-left: 2px inset rgb(126, 126, 126);
    border-right: 2px inset rgb(198, 198, 198);
    border-bottom: 2px inset rgb(198, 198, 198);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    gap: 1rem;
}

.window__response--loading::before {
    width: 100%;
    content: "";
    height: 100%;
    position: absolute;
    padding: 2px;
    top: -3px;
    left: -3px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

.response__button--download {
    width: max-content;
    align-self: center;
    padding: 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 2rem;
    background-color: #828282;
    border-top: 2px inset white;
    border-left: 2px inset white;
    border-right: 2px inset black;
    border-bottom: 2px inset black;
    cursor: pointer;
    user-select: none;
    color: #000000;
    text-decoration: none;
    text-align: center;
    position: relative;
}

.response__button--download:active {
    border-top: 2px inset rgb(157, 157, 157);
    border-left: 2px inset rgb(153, 150, 150);
    border-right: 2px inset rgb(188, 188, 188);
    border-bottom: 2px inset rgb(187, 187, 187);
}

.response__button--download::before {
    width: 100%;
    content: "";
    height: 100%;
    position: absolute;
    padding: 2px;
    top: -3px;
    left: -3px;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.response__button--download:active::before {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

.response__button--share {
    width: max-content;
    align-self: center;
    padding: 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 2rem;
    background-color: #828282;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
}

.response__button--share:active {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

.response__button--back {
    width: max-content;
    align-self: center;
    padding: 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 2rem;
    background-color: #828282;
    border-top: 2px inset white;
    border-left: 2px inset white;
    border-right: 2px inset black;
    border-bottom: 2px inset black;
    cursor: pointer;
    user-select: none;
    color: #000000;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: relative;
}

.response__button--back::before {
    width: 100%;
    content: "";
    height: 100%;
    position: absolute;
    padding: 2px;
    top: -3px;
    left: -3px;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.response__button--back:active {
    border-top: 2px inset rgb(157, 157, 157);
    border-left: 2px inset rgb(153, 150, 150);
    border-right: 2px inset rgb(188, 188, 188);
    border-bottom: 2px inset rgb(187, 187, 187);
}

.response__button--back:active::before {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

.error__button--back {
    width: max-content;
    align-self: center;
    padding: 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 2rem;
    background-color: #828282;
    border-top: 2px inset white;
    border-left: 2px inset white;
    border-right: 2px inset black;
    border-bottom: 2px inset black;
    cursor: pointer;
    user-select: none;
    color: #000000;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    outline: none;
    margin: 0 auto 0.5rem auto;
    position: relative;
}

.error__button--back:active {
    border-top: 2px inset rgb(157, 157, 157);
    border-left: 2px inset rgb(153, 150, 150);
    border-right: 2px inset rgb(188, 188, 188);
    border-bottom: 2px inset rgb(187, 187, 187);
}

.error__button--back::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 2px;
    top: -3px;
    left: -3px;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.error__button--back:active::before {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}


.loading__icon {
    width: 5rem;
}

.share__icon {
    font-size: 2rem;
}

.window__footer {
    width: 100%;
    height: 80px;
    background-color: rgb(128, 128, 128);
    background-image: url('https://i.gifer.com/XZ5V.gif');
    background-position: center;
    background-size: contain;
    background-blend-mode:soft-light;
    border-top: 3px inset white;
    border-left: 3px inset white;
    border-right: 3px inset black;
    border-bottom: 3px inset black;
    font-size: 2rem;
    font-weight: 700;
    color: rgb(115, 115, 115);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    text-decoration: none;
    text-align: center;
    position: relative;
}

.window__footer::before {
    width: 100%;
    content: "";
    height: 100%;
    position: absolute;
    padding: 3px;
    top: -4px;
    left: -4px;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.window__footer:active {
    border-top: 3px inset rgb(157, 157, 157);
    border-left: 3px inset rgb(153, 150, 150);
    border-right: 3px inset rgb(188, 188, 188);
    border-bottom: 3px inset rgb(187, 187, 187);
}

.window__footer:active::before {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

#menu- .MuiMenu-paper {
    background-color: #898888;
    border-top: 2px inset white;
    border-left: 2px inset white;
    border-right: 2px inset black;
    border-bottom: 2px inset black;
    border-radius: 0;
}

#menu .MuiMenu-paper::before {
    width: 100%;
    content: "";
    height: 100%;
    position: absolute;
    padding: 3px;
    top: -4px;
    left: -4px;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

#menu- .MuiList-root {
    padding: 0;
}

.aspectRatio__title {
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-style: italic;
    text-align: center;
}

.aspectRatio__container {
    width: 30%;
    max-height: 100px;
    padding: 0.5rem;
    background-color: #777777;
    border-top: 3px inset rgb(157, 157, 157);
    border-left: 3px inset rgb(153, 150, 150);
    border-right: 3px inset rgb(188, 188, 188);
    border-bottom: 3px inset rgb(187, 187, 187);
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    position: relative;
}

.aspectRatio__container::before {
    width: 100%;
    content: "";
    height: 100%;
    max-height: 100px;
    position: absolute;
    padding: 2px;
    top: -3px;
    left: -3px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

.aspectRatio__buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aspectRatio__button {
    width: 30%;
    padding: 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 1.5rem;
    background-color: gray;
    border-top: 2px inset white;
    border-left: 2px inset white;
    border-right: 2px inset black;
    border-bottom: 2px inset black;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
    position: relative;
}

.aspectRatio__button::before {
    width: 100%;
    content: "";
    height: 100%;
    position: absolute;
    padding: 2px;
    top: -3px;
    left: -3px;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.aspectRatio__button--selected {
    border-top: 2px inset rgb(157, 157, 157);
    border-left: 2px inset rgb(153, 150, 150);
    border-right: 2px inset rgb(188, 188, 188);
    border-bottom: 2px inset rgb(187, 187, 187);
    background-color: #6e6e6e;
}

.aspectRatio__button--selected::before {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

.swal2-popup {
    border: 1px solid #000;
    border-radius: 0;
    padding: 0;
    background: gray;
    border-top: 3px inset white;
    border-left: 3px inset white;
    border-right: 3px inset black;
    border-bottom: 3px inset black;
    font-family: Tahoma, Arial, sans-serif;
    box-sizing: border-box;
}

.swal2-popup::before {
    width: 100%;
    content: "";
    height: 100%;
    position: absolute;
    padding: 2px;
    top: -3px;
    left: -3px;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.swal2-title {
    background: linear-gradient(to right, #df8484, #be2c2c);
    color: white;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    font-family: "Ms-Sans-Serif", monospace;
    font-style: italic;
    font-weight: 700;
    order: -1;
}

.swal2-container {
    backdrop-filter: blur(2px);
}

.swal2-container .swal2-html-container {
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    width: 95%;
    margin: 2rem auto 1.5rem auto;
    padding: 0 0.5rem;
    text-align: center;
    font-family: "Ms-Sans-Serif", monospace;
}
.swal2-html-container p {
    font-family: "Ms-Sans-Serif-Bold", monospace;
}

.swal2-actions {
    background: gray;
    display: flex;
    justify-content: center;
    margin: 0 0 .5rem 0;
}

.swal2-actions .swal2-confirm  {
    background-color: gray;
    box-shadow: none !important;
    color: black;
    border-top: 2px inset white;
    border-left: 2px inset white;
    border-right: 2px inset black;
    border-bottom: 2px inset black;
    padding: 5px 15px;
    filter: drop-shadow(0);
    font-size: 14px;
    border-radius: 0;
    outline: none;
    font-size: 1.5rem;
    font-style: italic;
    font-family: "Ms-Sans-Serif-Bold", monospace;
    font-weight: 600;
    user-select: none;
    position: relative;
}

.swal2-actions .swal2-confirm::before {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    padding: 2px;
    top: -3px;
    left: -3px;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    z-index: 1;
}

.swal2-actions .swal2-confirm:hover {
    background-color: #898989;
    box-shadow: none;
}

.swal2-actions .swal2-confirm:active {
    border-top: 2px inset rgb(157, 157, 157);
    border-left: 2px inset rgb(153, 150, 150);
    border-right: 2px inset rgb(188, 188, 188);
    border-bottom: 2px inset rgb(187, 187, 187);
}

.swal2-actions .swal2-confirm:active::before {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

.alert__icon {   
    width: 30px;
    height: 30px;
    padding: 2px;
    filter: invert(1) drop-shadow(1px 1px 2px #8d0303);   
}

.alert__title {
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    font-family: 'Ms-Sans-Serif-Bold', sans-serif;
    font-weight: 700;
    text-shadow: 1px 1px 2px #8d0303;
}

.window__title--about {
    font-family: 'Ms-Sans-Serif-Bold', sans-serif;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    font-style: normal;
}

.footer__logo {
    font-size: 1.5rem;
    letter-spacing: .3em;
    font-weight: bold;
    font-family: "Press Start 2P", system-ui;
    position: relative;
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
      0.025em 0.04em 0 #fffc00;
    animation: glitch 725ms infinite;
  }
  
  .footer__logo span {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .footer__logo span:first-child {
    animation: glitch 500ms infinite;
    clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
    transform: translate(-0.04em, -0.03em);
    opacity: 0.75;
  }
  
  .footer__logo span:last-child {
    animation: glitch 375ms infinite;
    clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
    transform: translate(0.04em, 0.03em);
    opacity: 0.75;
  }
  
  @keyframes glitch {
    0% {
      text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
        0.025em 0.04em 0 #fffc00;
    }
    15% {
      text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
        0.025em 0.04em 0 #fffc00;
    }
    16% {
      text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
        -0.05em -0.05em 0 #fffc00;
    }
    49% {
      text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
        -0.05em -0.05em 0 #fffc00;
    }
    50% {
      text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
        0 -0.04em 0 #fffc00;
    }
    99% {
      text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
        0 -0.04em 0 #fffc00;
    }
    100% {
      text-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff,
        -0.04em -0.025em 0 #fffc00;
    }
  }

.interface__bar {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 50px;
    background-color: gray;
    border-top: 2px inset white;
    border-left: 2px inset white;
    border-right: 2px inset black;
    border-bottom: 2px inset black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.interface__bar::before {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    padding: 2px;
    top: -3px;
    left: -3px;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.bar__initButton {
    height: 100%;
    width: max-content;
    border-top: 2px inset white;
    border-left: 2px inset white;
    border-right: 2px inset black;
    border-bottom: 2px inset black;
    background-color: gray;
    font-family: "Ms-Sans-Serif-Bold", monospace;
    font-size: 1.3rem;
    padding: 0 0.8rem;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.bar__initButton__icon {
    font-size: 2.5rem;
}

.bar__initButton:active {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 2px inset rgb(188, 188, 188);
    border-bottom: 2px inset rgb(187, 187, 187);
}

.bar__initButton::before {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    padding: 2px;
    top: -3px;
    left: -3px;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.bar__initButton:active::before {
    border-top: 2px inset rgb(157, 157, 157);
    border-left: 2px inset rgb(153, 150, 150);
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

.bar__timeAndDate {
    width: max-content;
    position: relative;
    height: 90%;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 2px inset rgb(188, 188, 188);
    border-bottom: 2px inset rgb(187, 187, 187);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: end;
    padding: 5px;
    font-family: "Ms-Sans-Serif", monospace;
    font-size: 0.9rem;
}

.bar__timeAndDate::before {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    padding: 2px;
    top: -3px;
    left: -3px;
    border-top: 2px inset rgb(157, 157, 157);
    border-left: 2px inset rgb(153, 150, 150);
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

.bar__options {
    position: absolute;
    width: 200px;
    background-color: gray;
    top: -136px;
    left: 5px;
    box-shadow: 1px 1px 1px #000, -1px -1px 1px #fff;
    display: flex;
    flex-direction: column;
}

.option__item {
    width: 100%;
    border-top: 2px inset white;
    border-left: 2px inset white;
    border-right: 2px inset black;
    border-bottom: 2px inset black;
    font-family: "Ms-Sans-Serif", monospace;
    display: flex;
    align-items: center;
    gap: 1rem;
    user-select: none;
    cursor: pointer;
    font-size: 1.2rem;
}

.option__item:active {
    border-top: 2px inset rgb(157, 157, 157);
    border-left: 2px inset rgb(153, 150, 150);
    border-right: 2px inset rgb(188, 188, 188);
    border-bottom: 2px inset rgb(187, 187, 187);
}

.option__icon {
    width: 40px;
    height: 100%;
    padding: 2px;
}

.option__icon--folder {
    filter: drop-shadow(1px 1px 1px #000);
}

.about__icon {
    width: 70px;
}

.page404__icon {
    font-family: "Press Start 2P", system-ui;
    font-size: 6rem;
    color: #00000053;
    text-shadow: 1px 1px 2px #cccaca5d;
}

.page404__description {
    font-family: "Press Start 2P", system-ui;
    font-size: 2rem;
    color: #00000053;
    text-shadow: 1px 1px 2px #cccaca5d;
}


@media screen and (max-width:379px) {
    
    .window__image {
        aspect-ratio: 16/7;
        }
    
    .form__input {
        min-height: 90px;
    }

    .form__input::placeholder {
        font-size: 1.5rem;
    }

    .form__input__container {
        width: 100%;
    }

    .interface__window {
        width: 90%;
        flex-direction: column;
    }

    .interface {
        height: 115vh;
    }

    .window__response {
        gap: 10px;
    }

    .response__button--share {
        min-width: 95%;
        font-size: 1.6rem;
    }

    .window__footer {
        font-size: 1.5rem;
        height: 50px;
    }

    .window__form {
        gap: 1rem;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .form__button {
        margin-bottom: 1rem;
    }

    .response__button--share {
        width: 100%;
    }

    .response__button--download {
        width: 100%;
    }

    .response__button--back {
        width: 100%;
    }

    .swal2-popup {
        width: 90%;
    }

    .footer__logo {
        word-spacing: -0.5rem;
        letter-spacing: -0.1rem;
        font-size: 0.9rem;
    }

    .aspectRatio__container {
        width: 100%;
        max-height: 130px;
    }

    .aspectRatio__title {
        font-size: 1.5rem;
    }

    .page404__description {
        text-align: center;
        font-size: 1.5rem;
    }

    .page404__icon {
        font-size: 5rem;
    }
}

@media screen and (min-width:380px) and (max-width: 480px) {
    .page404__description {
        text-align: center;
        font-size: 1.5rem;
    }

    .page404__icon {
        font-size: 5rem;
    }

    .form__input {
        min-height: 90px;
    }

    .form__input::placeholder {
        font-size: 1.5rem;
    }

    .form__input__container {
        width: 100%;
    }

    .interface__window {
        width: 90%;
        flex-direction: column;
    }

    .window__response {
        gap: 10px;
    }

    .response__button--share {
        min-width: 95%;
        font-size: 1.6rem;
    }

    .window__footer {
        font-size: 1.5rem;
        height: 50px;
    }

    .window__form {
        gap: 1rem;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .form__button {
        margin-bottom: 1rem;
    }

    .response__button--share {
        width: 100%;
    }

    .response__button--download {
        width: 100%;
    }

    .response__button--back {
        width: 100%;
    }

    .swal2-popup {
        width: 90%;
    }

    .footer__logo {
        letter-spacing: normal;
        font-size: .9rem;
    }

    .aspectRatio__container {
        width: 100%;
        max-height: 130px;
    }

    .aspectRatio__container::before {
        max-height: 130px;
    }

    .aspectRatio__title {
        font-size: 1.5rem;
    }

    .window__image {
    aspect-ratio: 16/7;
    }
}



@media screen and (min-width: 481px) and  (max-width: 1000px) {
    .interface__window {
        width: 80%;
    }

    .form__input::placeholder {
        font-size: 1.4rem;
    }

    .aspectRatio__title {
        font-size: 0.9rem;
    }

    .footer__logo {
        word-spacing: -1rem;
        letter-spacing: .1rem;
    }

    .page404__description {
        text-align: center;
    }
}

@media screen and (min-width: 1001px) and  (max-width: 1370px) {
    .footer__logo {
        letter-spacing: .1rem;
        word-spacing: -1rem;

    }
    .aspectRatio__title {
        font-size: 1rem;
    }

    .interface--laptop {
        height: 115vh;
    }
}